@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
    /* Colors */
    --white: #FFFFFF;
    --grey: #949494;
    --blue-800: #242742;
    --blue-700: #36384D;
    --red: #FF6155;

    /* Gradient */
    --gradient-start: #FF6A3A;
    --gradient-end: #FF527B;
    --gradient: linear-gradient(to right, var(--gradient-start), var(--gradient-end));

    /* Spacing */
    --spacing-8: 0.5rem;
    --spacing-16: 1rem;
    --spacing-24: 1.5rem;
    --spacing-32: 2rem;
    --spacing-40: 2.5rem;
    --spacing-48: 3rem;
    --spacing-64: 4rem;
    --spacing-72: 4.5rem;
    --spacing-104: 6.5rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--blue-700);
    color: var(--white);
}